<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Multi-purpose Makerting html5 landing page">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fonts
    ============================================= -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
    ============================================= -->
    <link href="stylesheets/css/external.css" rel="stylesheet">
    <link href="stylesheets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Cayment | Index</title>
</head>

<body class="body-scroll">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="wrapper clearfix">
        <!-- Header
============================================= -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" style="height: 56px;">
    <a class="navbar-brand" href="/">Cayment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
                          <li class="mr-5"><a href="/login" style="text-decoration: none;">Login</a></li>
                          <li><a href="/register" style="text-decoration: none;">Sign Up</a></li>
                      <% } else{ %>
                          <li class="mr-5"><a href="#" style="text-decoration: none;"><i class="fas fa-user-circle fa-lg"></i> Signed In as <%= currentUser.username %></a></li>
                          <li><a href="/logout" style="text-decoration: none;">Sign Out</a></li>
                      <% } %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role='alert' style="margin-top: 13px;"><%= error %></div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role='alert' style="margin-top: 13px;"><%= success %></div>
    <% } %>
  </div>
        <!-- Slider #1
============================================= -->
        <section id="hero" class="section hero">
            <div class="container">
                <div class="row row-content">
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-headline">Engage more users & supercharge your landing conversion rates</div>
                        <div class="hero-bio">Launch your campaign and benefit from our expertise on designing and
                            managing conversion centered landing pages.</div>
                        <div class="hero-action">
                            <form class="form-inline mb-0 mailchimp" novalidate="true">
                                <input type="email" class="form-control" placeholder="Enter your e-mail">
                                <input type="submit" value="Subscribe" class="btn btn--gradient">
                            </form>
                            <div class="subscribe-alert"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <div class="hero-img">
                            <img class="img-fluid" src="./images/hero/hero.svg" alt="background">
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #slider end -->
        <!-- Feature #1
============================================= -->
    <script src="scripts/js/jquery-3.3.1.min.js"></script>
    <script src="scripts/js/plugins.js"></script>
    <script src="scripts/js/functions.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>